footer {
  margin-top: 40px;
  padding: 40px 0px 40px 0px;
  display: flex;
  color: white;
}

footer nav {
  display: flex;
  gap: 15px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

footer a:hover,footer a:focus {
  text-decoration: underline;
}

.gradient-bg {
  background: linear-gradient(to bottom, #67C3F3, #5A98F2);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.colonneFooter{
  display: flex;
  flex-direction: column;
}
#logo{
  position: relative;
  display: flex;
  height: 41px;
}
#Tlogo{
  margin:0;
  position: absolute;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: #5B9BF3;
}
#boxLogo{
  display: flex;
}
#logo img{
  width: 41px;
  height: 41px;
}
#titreLogo{
  color: white;
  font-size: 24px;
  margin: 0px 0px 0px 15px;
  align-content: center;
}
.colGauche{
  width: 391px;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
}
.titreLink{
  font-weight: 700;
}
.link{
  font-weight: 100;
  margin-top: 10px;
}